.shopping-list {
    font-size: 22px;
    border-width: 55px;
}

/* .card {
    align-items: center;
} */

.list-title {
    padding-top: 15px;
    font-size: 18px;
}

a p {
    font-size: 12px;
    color:  rgb(97, 6, 38);
}

a p span {
    color: rgb(182, 182, 110);
}

#trash-instruction {
    font-size: 10px;
}

#trash span {
    color: rgb(121, 20, 55);
    text-align: center;
}